
.skills-icons{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.skills-icons img{
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .skills{
        margin-top: 10rem;
    }
    .skills-icons{
        display: block;
        gap: 1rem;
    }

    .skills-icons img{
        width: 75px;
        height: 75px;
    }
}