.home h1{
    font-size: 7rem;
    color: #00E6F6;
    text-shadow: 1px 1px white;
}

.home h1{
    font-size: 7rem;
    color: #00E6F6;
    text-shadow: 1px 1px white;
}

.home h1 span{
    color: white;
}
