:root{
  --color-p:  #00E6F6;
}


@font-face {
  font-family: Hacked;
  src: url('./Assets/Hacked-KerX.ttf');
}

*{
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}

body{
  background-image: linear-gradient(147deg, #1a1a1a 0%, #1a1a1a 74%);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content{
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid red;
}



.home h1{
  font-size: 70px;
}

/* Custom */

.t-center{
  text-align: center;
}

.flex{
  display: flex;
}

.hacked{
  font-family: Hacked;
}


@media only screen and (max-width: 600px) {
  .content{
    height: 60%;
  }
}