*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('./Assets/DSC_0112.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.App{
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home h1{
  font-size: 70px;
}

/* Custom */

.t-center{
  text-align: center;
}

.flex{
  display: flex;
}